
.drop-area {
    transition: all ease 0.3s;
    height: 20px;
}

.drop-area-over {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    background-color: transparent;
}