.register-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.register {
    padding-top: 0px;
}


.input-error {
    color: rgb(221, 1, 1);
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
}
