.planning-wrapper {
    padding-left: 25px;
}

.planning {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}

.period {
    margin: 20px 0px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--text-color);
    padding: 0 5px;
    position: relative;
}

.planning .card {
    width: 180px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--button-color);
    cursor: pointer;
    position: relative;
    padding: 0 15px ;
}

.planning .card .title {
    text-align: center;
}


.plus-icon {
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.plus-icon-discipline {
    width: 100%;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 10;
    padding: 20px 0px;
}

.button-show-modal,
.button-show-modal:hover {
    background-color: transparent !important;
    border: none;
    color: var(--text-color) !important;
    cursor: pointer;
    bottom: 9px;
    font-size: 25px;
}

.plus-icon>span {
    cursor: pointer;
}

.plus-icon>span:hover {
    opacity: 0.8;
}

.plus-icon-discipline {
    display: flex;
    align-self: end;
}

#button-wrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    width: 420px !important;
    justify-content: space-between;
}

#button-wrapper .planning-button {
    width: 200px;
    height: 50px;
    background-color: var(--button-color);
    border: none;
    color: var(--text-color);
    cursor: pointer;
    font-weight: bold;
}

#button-wrapper .planning-button:hover {
    background-color: var(--button-hover-color);
}

.planning-header-wrapper {
    display: flex;
    justify-content: space-between;
}

.planning-header {
    position: relative;
    display: inline-block;
}

.custom-arrow {
    content: "";
    position: absolute;
    top: 50%;
    right: 15px;
    width: 10px;
    height: 10px;
    background: url('https://api.iconify.design/ep/arrow-right.svg?color=var(--text-color)&rotate=90deg') no-repeat center;
    background-size: contain;
    transform: translateY(-50%);
    pointer-events: none;
}

.ant-input-wrapper {
    margin-bottom: 20px !important;
    width: 310px;
}

.ant-input,
.ant-input:hover {
    background-color: #D9D9D9 !important;
    border-color: #D9D9D9 !important;
    border-radius: 0px !important;
    margin: 0px !important;
}

.ant-input-group-addon button,
.ant-input-group-addon button:hover {
    background-color: #D9D9D9 !important;
    border-radius: 0px !important;
    border: none !important;
    color: gray !important;
}

.select-cards {
    width: 300px;
    height: 400px;
    overflow-y: scroll;
    color: var(--text-color) !important;
}

.select-cards .card {
    margin: 10px 0px !important;
    width: 280px !important;
}

.planning .period {
    min-height: 200px;
}

.delete-last-period {
    position: relative;
    top: -30px;
    right: -50px;
}