
.get-all-disciplines input {
    width: 50%;
    margin: 0 50% 15px 30%;
    padding-left: 30px;
    color: var(--input-color);
}

.get-all-disciplines button {
    margin: 20px 40% 0 50%;
    padding: 10px;
    width: 130px;
    border: none;
    border-radius: 4px;
    color: var(--text-color);
    background-color: var(--button-color);
}

.get-all-disciplines button:hover {
    cursor: pointer;
    background-color: var(--button-hover-color);
}

.get-all-disciplines .buttons-put-delete-discipline {
    position: relative;
    margin-top: -5.3%;
    margin-left: 200px;
}

.get-all-disciplines .edit-icon,
.get-all-disciplines .trash-icon, 
.get-all-disciplines .see-icon {
    background-color: transparent !important;
    padding: 5px;
    color: var(--text-color); 
    opacity: 50%;
    width: 35px;
    font-size: 1px; 
}

.get-all-disciplines .discipline-card {
    margin: 1rem;
    width: 95%;
    height: 40px;
    border: 1px solid var(--text-color);
    padding: 5px;
    border-radius: 4px;
    background-color: var(--button-color);
}

.get-all-disciplines #see-discipline {
    position: absolute;
    margin-left: 87.1%;
    font-size: 20px;
}

.get-all-disciplines #patch-discipline {
    position: absolute;
    margin-left: 91%;
}

.get-all-disciplines #delete-discipline {
    position: absolute;
    margin-left: 95%;
}

.get-all-disciplines .pagination {
    display: flex;
    align-items: center;
    width: 50%;
}
